<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 别名，用于简化映射文件的路径 -->
        <package name="com.xixi.pojo"/>
    </typeAliases>


    <environments default="development">
<!-- environments：配置数据库连接环境信息，可以配置多个environment，通过default属性切换不同的environment -->
        <environment id="development">
            <transactionManager type="JDBC"/><!-- 事务 -->
            <dataSource type="POOLED"><!-- 数据源 -->
                <!-- 数据库连接信息(JDBC中的连接信息一样) -->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306//MyBatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 加载Sql的映射文件 -->
<!--        <mapper resource="com/xixi/mapper/UserMapper.xml"/>-->
        <!--resource中填写定义的Mapper文件 相对 于mybatis-config.xml的路径-->
        
        <!-- 代理开发的包扫描方式 -->
        <package name="com.xixi.mapper"/>
    </mappers>
</configuration>