<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：名称空间 -->
<mapper namespace="test">
    <!-- id是sql语句的唯一标识，resultType是对应的放回结果的类型 -->
    <select id="selectAll" resultType="com.xixi.pojo.User">
        select * from tb_user;
    </select>
</mapper>